<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{head.html}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="container col-8 mx-auto">
<h1>Salem Bitlab</h1>
<form action="/search" method="get">
  <input type="text" placeholder="Search..." name="search">
  <button>FIND</button>
</form>


<form action="/search-alt" method="get">
  <input type="text" placeholder="Search..." name="search">
  <button>FIND ALTERNATIVE</button>
</form>
<h1 th:text="${usersAlt}"></h1>

<form action="/add-user" method="post">
  <input name="email" type="text" placeholder="Insert email..."><br><br>
  <input type="password" name="password" placeholder="Insert password..."><br><br>
  <input type="text" name="fullName" placeholder="Insert full name..."><br><br>
  <button>ADD USER</button>
</form>

<table cellpadding="10px">
  <thead>
  <th>ID</th>
  <th>EMAIL</th>
  <th>FULL NAME</th>
  <th>PROGRAMMING LANGUAGE</th>
  <th>DETAILS</th>
  <th>REMOVE</th>
  </thead>
  <tr th:style="${user.programmingLanguage == 'Java'
  ? 'color:green;'
  : (user.programmingLanguage == 'C#'
  ? 'color:blue'
  : (user.programmingLanguage == 'Golang'
  ? 'color:orange'
  : 'color:red'))}"
       th:each="user : ${users}">
    <!--  for(User user : users) {}  -->
    <td th:text="${user.id}"></td> <!--  <%=user.id%>  -->
    <td th:text="${user.email}"></td>
    <td th:text="${user.fullName}"></td>
    <td th:text="${user.programmingLanguage}"></td>
    <td><a th:href="${'/user-details?userId='+user.id}">DETAILS</a></td>
    <td>
      <form th:action="${'/user-delete/' + user.id}" method="post">
        <button>REMOVE ACCOUNT</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>